<header >
    <!-- The header for the not authanticated users -->
    @if(Authanticated == false){
        <div class="unAuthanticatedContainer" >
            <h2 class="logo"><a routerLink="/"><span class="first-word">Connect</span><span class="second-word">Verse</span></a></h2>
                <ul [class.openMenu]="openMenu" >
                    <li><a routerLink="/about" routerLinkActive="active" [class.darkModeUl]="darkMode">About Us</a></li>
                    <li><a routerLink="/contact" routerLinkActive="active" [class.darkModeUl]="darkMode">Contect Us</a></li>
                </ul>
                <div class="buttonContainer" [class.openMenuBtn]="openMenu">
                    <button class="secondryButton" routerLink="/">Log in</button>
                    <button class="primaryButton" routerLink="/register">Register</button>
                </div>
            
            <button class="displayMobile" (click)="openMenuFun()"><i class="pi pi-bars"></i></button>
        </div>
    }

    <!-- The header for the authanticated users -->
    @if(Authanticated == true){
        <div class="authanticatedContainer">
            <h2 class="logo"><a routerLink="/"><span class="first-word">Connect</span><span class="second-word">Verse</span></a></h2>
            
            <div class="searchContainer">
                <input placeholder="Search" (ngModelChange)="onSearchChange($event)" class="serachInput" type="text" pInputText [(ngModel)]="searchValue"/>
                <div class="searchFieldContainer">
                    <div *ngFor="let userr of users | search: searchValue">
            
                        <!-- @for(userr of users; track userr ){ -->
                            <div class="searchField" (click)="profileSearch(userr._id)" [routerLink]="'dashboard/profile/' + userr._id">
                                <img [src]="userr.photo" alt="user photo">
                                {{userr.displayName}}
                            </div>
                        <!-- } -->
                    </div>
                </div>

               
            </div>

            <div class="profileContainer" >
                 <h3>Hi, {{user.displayName}}</h3>
            </div>
            <ul [class.openMenu]="openMenu">
                <li><a routerLink="/dashboard/" routerLinkActive="active" [class.darkModeText]="darkMode" [routerLinkActiveOptions]="{ exact: true }"><i class="pi pi-home"></i> Home</a></li>
                <li><a routerLink="/dashboard/settings" routerLinkActive="active" [class.darkModeText]="darkMode" [routerLinkActiveOptions]="{ exact: true }"><i class="pi pi-cog"></i> Settings</a></li>
                <li><a [routerLink]="['/dashboard/profile', cookieId]" routerLinkActive="active" [class.darkModeText]="darkMode" [routerLinkActiveOptions]="{ exact: true }"><i class="pi pi-user"></i> Profile</a></li>
                <li><a routerLink="/about" [class.darkModeText]="darkMode"><i class="pi pi-question"></i> About Us</a></li>
                <li><a routerLink="/contact" [class.darkModeText]="darkMode"><i class="pi pi-envelope"></i> Contact</a></li>
            </ul>
        
            <button class="displayMobile" (click)="openMenuFun()"><i class="pi pi-bars"></i></button>
        </div>
    }

</header>