<header>
    @if(Authanticated == false){
        <div class="unAuthanticatedContainer">
            <h2 class="logo">Connect <span>Verse</span></h2>
            <ul>
                <li><a>About Us</a></li>
                <li><a>Contect Us</a></li>
            </ul>
            <div class="buttonContainer">
                <button class="secondryButton">Log in</button>
                <button class="primaryButton">Regester</button>
            </div>

        </div>
    }

    @if(Authanticated == true){
        <div class="authanticated">
            <p>authanticated</p>
        </div>
    }

</header>