section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    .postContainer{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 90%;
        .topOfPost{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .profileViewer{
                display: flex;
                align-items: center;
                gap: 10px;
                img{
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    border: 1px solid var(--primary-color);
                }
            }
            button{
                width: 15%;
            }
        }
        .imgConatiner{
            display: flex;
            justify-content: center;
            align-items: center;
            .postImage{
                width: 100%;     
                height: auto;     
                max-width: 600px;
                text-align: center;
                object-fit: contain;
            }
        }
        .controllContainers{
            display: flex;
            gap: 10px;
            button{
                position: relative;
                i{
                    position: absolute;
                    top: 12px;
                    left: 10px;
                    font-size: 20px;
                }
            }
        }

    }
}
.darkModeBackground{
    background: #040D12 !important;
    color: var(--grey-color) !important;
}
.lightModeBackground{
    background-color: var(--grey-color) !important;
}