<section class="container">
    <div class="makePostContainer">
        <div class="infUserContainer">
            <img [src]="user.photo" alt="my profile">
            <input placeholder="What is in your mind" pInputText id="descriptionInput" #descriptionInput/>
        </div>
        <div class="fileContainer">
            <input placeholder="Select Your Photo Profile" type="file" class="file" #photoInput>
            <button class="primaryButton" (click)="makePost(descriptionInput.value, photoInput)">-></button>
        </div>
        <div class="card flex justify-content-center">
            <p-toast />
        </div>
        
    </div>
    @for (post of posts; track post) {
        <div class="postContainer" *ngIf="post">
            <div class="topOfPost">
                <div class="profileViewer" (mouseenter)="hoverStates[post._id] = true" (mouseleave)="hoverStates[post._id] = false">
                    <img [routerLink]="'profile/' + post.userDetails._id" [src]="post.userDetails.photo" alt="userProfilePic" *ngIf="post.userDetails && post.userDetails.photo">
                    <p *ngIf="post.userDetails">{{post.userDetails.displayName}}</p>
                    <button (click)="addFriend(post.userDetails._id)" class="addFrind primaryButton" [ngClass]="{'visible': hoverStates[post._id]}"><i class="pi pi-user-plus"></i></button>
                </div>
                    <button class="primaryButton" (click)="makeReport()">Report</button>

            </div>
            <h3>{{post.Description}}</h3>
            <div class="imgConatiner" *ngIf="post.photo">
                <img [src]="post.photo" alt="post Image" class="postImage">
            </div>
            <div class="infOfPost">
                <p>Likes: {{post.Likes}}</p>
                <p>Comments: {{post.CommentsNumber}}</p>
            </div>
            <div class="controllContainers">
                <button class="secondryButton" (click)="addLike(post)"><i class="pi {{ isLiked(post) ? 'pi-heart-fill' : 'pi-heart' }}"></i>{{ isLiked(post) ? 'Liked' : 'Like' }}</button>
                <button class="secondryButton" (click)="comment(post._id)"><i class="pi pi-comment"></i>Comment</button>
            </div>
            <app-comments-component [class.darkModeBackground]="darkMode" [class.lightModeBackground]="!darkMode" [postComments]="post" *ngIf="isPostOpen(post._id)"></app-comments-component>
        </div>
        <app-pop-up-report [reportedPostId]="post._id" ></app-pop-up-report>
    }

    <button class="primaryButton" (click)="loadMorePosts()">Load More</button>
    <p>You Caugth All Posts</p>
</section>