:root{
    --primary-color: #7399B1;
    --secondry-color: #362E34;
    --danger-red-color: #DC3545;
    --success-green-color: #32C132;
    --grey-color: #D8E1E6;
    --white-color: #fff;
    --black-color: #111;
    --google-button-color: #4285f4;
    --discord-button-color: #5865F2;
}