// Import The styles folder
@import "./app/styles/globalStyles.component.scss";
@import "./app/styles/variables.component.scss";

// Prime Ng Configs
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

// Global Styles for all elements
*{
    font-family: "Alatsi", sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: var(--grey-color);
}
a{
    color: var(--white-color);
}