<p-dialog header="Add Post" [(visible)]="visible"  [style]="{ width: '25rem' }">
    <div class="container">
        <div class="inputsContainer">
            <div class="errorContainer" *ngIf="errorMessage">
                <p>{{errorMessage}}</p>
            </div>
            <div class="flex align-items-center gap-3 mb-3 input">
                <label for="description" class="font-semibold w-6rem">Description</label>
                <input placeholder="" pInputText id="description" #descriptionInput/>
            </div>
            <div class="flex align-items-center gap-3 mb-5 input">
                <label class="font-semibold w-6rem">Post Image</label>
                <input placeholder="Select Your Photo Profile" type="file" class="file" #photoInput>
            </div>
        </div>
        
        <button class="primaryButton button" (click)="makePost(descriptionInput.value, photoInput)">Make Post</button>
    </div>

</p-dialog>

<div class="card flex justify-content-center">
    <p-toast />
</div>