<footer *ngIf="remveFooterForDashboard">
    <div class="container">
        <div class="copyRights">
            <h2 class="logo"><a routerLink="/"><span class="first-word">Connect</span><span class="second-word">Verse</span></a></h2>
            <h3>© Copyright 2024 Connect Verse.</h3 >
        </div>
        <div class="navigation">
            <h3>Over View</h3>
            <ul>
                <li><a routerLink="">Login</a></li>
                <li><a routerLink="/register">Register</a></li>
                <li><a routerLink="/about">About Us</a></li>
                <li><a routerLink="/contact">Conatct</a></li>
            </ul>
        </div>
    </div>
</footer>