.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    .darkModeContainer{
        gap: 42% !important;
    }
    .darkModeContainer, .logOutContainer{
        border-radius: 15px;
        border: 2px solid var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40%;
        height: 65px;
        .secondryButton, .dangerButton{
            width: 20%;
        }
    }
    .logOutContainer{
        border: 2px solid var(--danger-red-color);
    }
}
@media screen and (max-width: 800px) {
    .container{
        .darkModeContainer{
            gap: 30% !important;
        }
        .logOutContainer{
            gap: 27%;
        }
    }
}
@media screen and (max-width: 575px) {
    .container{
        .darkModeContainer{
            gap: 20% !important;
        }
        .logOutContainer{
            gap: 17%;
        }
        .secondryButton, .dangerButton{
            height: 20px;
            display: flex;
            justify-content: center;
            white-space: nowrap;
            align-items: center;
        }
    }
}
@media screen and (max-width: 575px) {
    .container{
        .darkModeContainer{
            gap: 1% !important;
        }
        .logOutContainer{
            gap: 0%;
        }
    }
}