<section class="container">
    <div class="darkModeContainer">
        <div class="textContainer">
            <p>Dark Mode</p>
            <p>This option will make the page be dark</p>
        </div>
        <button class="secondryButton" (click)="darkMode()">Dark Mode</button>
    </div>
    <div class="logOutContainer">
        <div class="textContainer">
            <p>Log Out</p>
            <p>This option will log you out of the website</p>
        </div>
        <button class="dangerButton" (click)="logOut()">Log Out</button>
    </div>
</section>