<section class="dashboard">
    <div class="container">
        <div class="navigationsContainer">
            <ul>
                <li><a routerLink="/dashboard/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="pi pi-home"></i> Home</a></li>
                <li><a routerLink="/dashboard/settings" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="pi pi-cog"></i> Settings</a></li>
                <li><a routerLink="/dashboard/profile/:id" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="pi pi-user"></i> Profile</a></li>
                <li><a routerLink="/about"><i class="pi pi-question"></i> About Us</a></li>
                <li><a routerLink="/contact"><i class="pi pi-envelope"></i> Contact</a></li>
            </ul>
        </div>
        <div class="postsContainer" >  
            <app-posts *ngIf="showPosts"></app-posts>            
            <router-outlet></router-outlet>
        </div>
        <div class="profileContainer">
            <div class="infUser">
                <img [src]='user.photo' alt="user's Profile Pic">
                <h3>{{user.displayName}}</h3>
            </div>
            <div class="numUser">
                <div class="posts">
                    <h2>Posts</h2>
                    <h2>{{user.postNumber}}</h2>
                </div>
                <div class="friends">
                    <h2>Friends</h2>
                    <h2>{{user.friends.length}}</h2>
                </div>
            </div>
            <button class="primaryButton" (click)="openPopUp()">Create Post</button>
        </div>
    </div>
    <app-pop-up-post (formDataOutput)="formDataOutput($event)"></app-pop-up-post>


</section>