<section class="dashboard" >
    <div class="container">
        <div class="navigationsContainer" [class.darkModeBackground]="darkMode">
            <ul>
                <li><a routerLink="/dashboard/" routerLinkActive="active" [class.darkModeText]="darkMode" [routerLinkActiveOptions]="{ exact: true }"><i class="pi pi-home"></i> Home</a></li>
                <li><a routerLink="/dashboard/settings" routerLinkActive="active" [class.darkModeText]="darkMode" [routerLinkActiveOptions]="{ exact: true }"><i class="pi pi-cog"></i> Settings</a></li>
                <li><a [routerLink]="['/dashboard/profile', cookieId]" routerLinkActive="active" [class.darkModeText]="darkMode" [routerLinkActiveOptions]="{ exact: true }"><i class="pi pi-user"></i> Profile</a></li>
                <li><a routerLink="/about" [class.darkModeText]="darkMode"><i class="pi pi-question"></i> About Us</a></li>
                <li><a routerLink="/contact" [class.darkModeText]="darkMode"><i class="pi pi-envelope"></i> Contact</a></li>
            </ul>
        </div>
        <div class="postsContainer" [class.darkModeBackground]="darkMode">  
            <app-posts *ngIf="showPosts"></app-posts>            
            <router-outlet></router-outlet>
        </div>
        <div class="profileContainer" [class.darkModeBackground]="darkMode">
            <h2>Friends</h2>
            <div *ngIf="user.friends?.length > 0" class="friendsConatiner">
                @for(friend of user.friends;track friend){
                    <div class="friendsContainer">
                        <img [src]="friend.Image" alt="friendImage">
                        <h2>{{friend.displayName}}</h2>
                        <button class="primaryButton" (click)="deleteFrind(friend.id)"><i class="pi pi-user-minus"></i></button>
                    </div>
                }
            </div>
            <div *ngIf="user.friends?.length === 0">
                No Friends
            </div>
        </div>
    </div>


</section>