.container{
    display: flex;
    width: 25rem;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    .errorContainer{
        background-color: var(--danger-red-color);
        width: 100%;
        text-align: center;
        color: var(--white-color);
        padding: 10px;
        border-radius: 5px;
    }
    .inputsContainer{
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        gap: 5px;
        .input{
            display: flex;
            gap: 10px;
        }
    }
    button{
        width: 100%;
    }
}